<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
<body class="bg-gray-800">

    <div class="mx-auto w-6/12">
        <div class="text-center m-20 rounded-2xl py-3">
            <h1 class="text-5xl font-extrabold text-white">
                Playlist Archive
            </h1>
            <img class="rounded-2xl mx-auto" src="https://media.tenor.co/images/bf102e55a9e1450c15f8221c18a11ffc/tenor.gif">
        </div>

        <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden order-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font medium text-gray-500 uppercase">
                                    Song Name
                                </th>

                                <th scope="col" class="px-6 py-3 text-left text-xs font medium text-gray-500 uppercase">
                                    Audio
                                </th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    DVBBS & Borgeous - TSUNAMI.mp3
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <audio controls>
                                        <source src="https://playlist.sfo3.digitaloceanspaces.com/DVBBS%20&%20Borgeous%20-%20TSUNAMI%20%28Original%20Mix%29.mp3" type="audio/mpeg">
                                    </audio>
                                </td>
                            </tr>

                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    Selena Gomez - Stars Dance.mp3
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <audio controls>
                                        <source src="https://playlist.sfo3.digitaloceanspaces.com/Selena%20Gomez%20-%20Stars%20Dance%20%28Official%20Video%29.mp3" type="audio/mpeg">
                                    </audio>
                                </td>
                            </tr>

                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    Zedd - I Want You To Know.mp3
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <audio controls>
                                        <source src="https://playlist.sfo3.digitaloceanspaces.com/Zedd%20-%20I%20Want%20You%20To%20Know%20ft.mp3" type="audio/mpeg">
                                    </audio>
                                </td>
                            </tr>

                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    Austin Mahone - Mmmm yeah.mp3
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <audio controls>
                                        <source src="https://playlist.sfo3.digitaloceanspaces.com/Austin%20Mahone%20-%20Mmm%20Yeah%20ft.mp3" type="audio/mpeg">
                                    </audio>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>
</html>